{% extends 'base.html.twig' %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ nom_controller }}! ✅</h1>
    <h2>{{ hobby }}</h2>
    <h3>{{ etat }}</h3>
    <h5>{{ stagiaires[1] }}</h5>

    <ul>
    {% for stagiaire in stagiaires %}
        <li>{{ stagiaire }}</li>
    {% endfor %}
    </ul>

    <h2>
    {{ produit['nom'] }}, 
    {{ produit.prix }}
    </h2>

    <h3>
    {{ uneVoiture.modele }}
    </h3>
    <h3>
    {{ dateToday.format ("y-m-d") }}
    </h3>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/SYMFONY/Projet1Symfony/src/Controller/NouveauController.php'|file_link(0) }}">src/Controller/NouveauController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/SYMFONY/Projet1Symfony/templates/nouveau/index.html.twig'|file_link(0) }}">templates/nouveau/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
