{% extends "base.html.twig" %}


{% block body %}

{% for livre in arrayObjetsLivres %}
    <h3>{{ livre.titre }}</h3>
    <ul>
        <li>ISBN: {{ livre.isbn }}</li>
        <li>Nombre de pages: {{ livre.nombrePages }}</li>
        <li>Prix: {{ livre.prix }}</li>
        <li>Description: {{ livre.description }}</li>
        <li><img src='/dossierUpload/{{ livre.lienImage }}'></li>
    </ul>
    <a href="{{ path ('livre_fiche', {id: livre.id} ) }}">Afficher la fiche complete</a>
    <a href="{{ path ('livre_delete', {id: livre.id} ) }}">Effacer</a>
    <a href="{{ path ('livre_update', {id: livre.id} ) }}">Modifier</a>
{% endfor %}



{% endblock %}